.hidden{
    display:none;
 }
 
 /*general styles*/
 body, button, a, input{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
  }
  section{
    background-color: white;
  }
 
  img, embed, object, video, picture{
     max-width:100%;
 
  }
  nav {
   display: inline-block;
   background-color: #65666A;
  }
 
   h1, h3, h4, h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#65666A;
    padding-bottom:5px;
  } 
   h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#B2282D; 
    font-size: 26pt;
    padding-bottom:5px;
  }
  h3{
    font-size:24pt;
  }
h4{
  font-size:22pt;
}

h5{
  font-size:18pt;

}
  header {
    background-color: white;
    padding: 0px;
    border-bottom:solid #e1e2e8 3px;
    margin-bottom: 5px;
  }
  header a {
    display: inline-block;
    margin-right: 0px;
    color: #65666A;
  }
  article{
    text-align: left;
    display: block;
  }
p { text-align: left;

}
.featured img {
  border-radius: 50%;
}
  /*hamburger*/
  #menuToggle {
  display: block;
  position: relative;
  top: 7px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #65666A;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  opacity: 0.7;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/* makes the lines*/
#menuToggle span
{
  display: block;
  width: 45px;
  height: 6px;
  margin-bottom: 5px;
  position: relative;
  
  background: #65666A;
  border-radius: 1px;
  
  z-index: 1;
  
  transform-origin: 2px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the lines of hamburger
 * into an x.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #65666A
}

/*to hide the middle line.*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(4)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * last line in other direction
 */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(5px, -3px);
 }

/*tablet version*/

#t-menuToggle
{
  display: block;
  position: relative;
  top: 7px;
  left: 25px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#t-menuToggle a
{
  text-decoration: none;
  color: black;
  
  transition: color 0.3s ease;
}

#t-menuToggle a:hover {
  opacity: 0.7;
}


#t-menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/* makes the lines*/
#t-menuToggle span
{
  display: block;
  width: 50px;
  height: 7px;
  margin-bottom: 5px;
  position: relative;
  
  background:#65666A;
  border-radius: 1px;
  
  z-index: 1;
  
  transform-origin: 2px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#t-menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#t-menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the lines of hamburger
 * into an x.
 */
#t-menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -2px);
  background: #65666A;
}

/*to hide the middle line.*/
#t-menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*to hide the middle line.*/
#t-menuToggle input:checked ~ span:nth-last-child(4)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * last line in other direction
 */
#t-menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(5px, -3px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu-tablet{
  display: block;
  position:absolute;
  min-width:768px;
 max-width:1155px;
 height:800px;
  margin: -100px 0 0px -780px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-top: 125px;
  background:white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.6s ease-in;
}

#menu-mobile{
  display: block;
  position:absolute;
  width:475px;
  height: 800px;
   margin: -100px 0 0 -350px;   /*margin: -100px 0 0 600px;*/
   padding: 50px;
   padding-top: 125px;
   background: white;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }




#menu-tablet li a
{
  padding: 40px 300px;
  font-size: 24px;
  border-top: solid grey 1px;
  border-bottom: solid gray 1px;
}
#menu-mobile li a
{
  padding: 15px 120px;
  font-size: 24px;
  border-top: solid grey 1px;
  border-bottom: solid gray 1px;

}


/*
 * And let's slide it in from the left
 */
#t-menuToggle input:checked ~ ul{
  transform: none;
}

#menuToggle input:checked ~ ul{
    transform: none;
  }
/*end of burger*/
nav{
  display:block;
  padding: 0px;
  background-color: white;

}
ul{
  list-style-type: none;
  margin:0;
  padding: 0;


}
nav li a{
  font-size: 16pt;
display: block;
text-align: center;
text-decoration: none;
transition:ease-in 0.2s;


}
 
nav a:hover{
  opacity: 70%;
}
li{
  padding-left: 20px;
  padding-right: 20px;
float:left
}


#l-fanshawe-logo{
width:350px;
 height:250px;
 display: block;
}

/*search bar*/
form {
  display: block;
  margin: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16pt;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*main content*/
.text-decor {
  border-top:solid #65666A 3px;
  border-bottom: solid #65666A 3px;
  font-weight: 600;
  font-size: 28pt;
  
}
.special-character{
  font-size: 26pt;
}
.italics{
  font-style: italic;
}
.button a{
  background-color: #DA2827;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}
.square-button a{
  background-color: #DA2827;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.gallery-1 img {
  display:inline-block;
  padding: 10px;

}
.l-gallery-1 img{
  display: inline-block;
  padding: 30px;
}
.xl-gallery-1 img{
  display: inline-block;
  padding: 30px;
}

.industry-night{
  background-color: #E3E3E3;
}
/*testimonial*/
.testimonials{
color: #65666A;
padding-top:30px;
padding-bottom: 30px;
padding-left: 100px;
border:5px solid #65666A;
border-radius: 50px;

}
.testimonials{
  font-style: italic;
}
.testimonials p{
text-align: left;
}

#reviewer p{
color: #65666A;
font-weight: 600;

}

#background-img {
  background-image: url(http://www.placeholder.co/400x400);
display: block;
height:400px;
}

footer{
  background-color:#E3E3E3;
}
.footer-logo {
  border-right:solid #65666A 5px;
}
footer nav{
  background-color: #E3E3E3;
  display: block;
}
footer li a{
  color:#3366CC;
  display:block;
  text-align: left;
  text-decoration: none;
  background-color: #E3E3E3;
  
}
#copyright p{
  color:#3366CC;
}


/* AutoplayCarousel */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0%;
}

.hidden {
    display: none
}

.contain-test {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.wrappertest {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.wrappertest i {
    height: 50px;
    width: 50px;
    color: rgb(218, 40, 39);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;

    /* this makes the icons go up by 50 each way */
    top: 50%;
    transform: translateY(-50%);
    /* font sizes will effect icons from font awesome */
    font-size: 4.25rem;
    /* box-shadow: 0 3px 6px black; */
    transition: transform 0.1s linear;
}

/* the first child is the first object in the hierarchy */

.wrappertest i:active{
    transform: translateY(-50%) scale(0.85);
  }

.wrappertest i:nth-child(2) {
    left: -52px;
}

.wrappertest i:last-child {
    right: -52px;
}



.fa-quote-left:first-child {
    position: relative;
    margin: 3px 10px 0 0;
    top: 25%;
    left: 100px;
    }
    

.wrappertest .carouseltest {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carouseltest::-webkit-scrollbar {
    display: none;
}

.carouseltest :where(.card, .imgtest) {
    display: flex;
    align-items: start;
    justify-content: start;
}

.carouseltest .cardtest {
    scroll-snap-align: start;
    border-radius: 80px;
    border: solid 1px rgb(75, 75, 75);

    max-width: 1747px;
    height: 270px;
    list-style: none;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}


.carouseltest.no-transition {
scroll-behavior: auto;
}


.carouseltest.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carouseltest.dragging .cardtest {
    cursor: grab;
    user-select: none;
}

.cardtest .imgtest {
    background-color: rgb(218, 40, 39);
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 30px;
}


.cardtest .imgtest img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px white;
}

.cardtest .texttest {
    margin-top: 30px;
}

.cardtest p {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}

.cardtest span {
    font-style: italic;
    color: rgb(82, 82, 82);
    font-size: 1.01rem;
}

.cardtest .test-name {
font-weight: 600;
}

.cardtest .grad {
    font-style: normal;
}

/* tablet size makes it 100% width with only 2 of the carousel items showing */

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100%) - 9px);
    }
}

/* Mobile size makes carousel and its container scale to 100% of its width on mobile */

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

/* End of Autoplay Carousel */

/* Non Auto Carousel */

body {
    margin: 0;
    padding: 0%;
}

.hidden {
    display: none
}

.contain {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    height: 50px;
    width: 50px;
    color: rgb(218, 40, 39);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;

    /* this makes the icons go up by 50 each way */
    top: 50%;
    transform: translateY(-50%);
    /* font sizes will effect icons from font awesome */
    font-size: 4.25rem;
    /* box-shadow: 0 3px 6px black; */
    transition: transform 0.1s linear;
}

/* the first child is the first object in the hierarchy */

.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }

.wrapper i:nth-child(2) {
    left: -42px;
}

.wrapper i:last-child {
    right: -42px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    /* below makes the page expand outwards making the cards be on a separate page almost */
    grid-auto-columns: calc((100% / 3) -3px);
    gap: 16px;
    /* overflow hidden hides anything not within the pages og width */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* makes any scrolling smoother */
    scroll-behavior: smooth;
    /* never have this at 0 or it will show up */
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    align-items: start;
    justify-content: start;
}

.carousel .card {
    max-height: 320px;
    scroll-snap-align: start;
    list-style: none;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel.no-transition {
scroll-behavior: auto;
}

/* makes it so it will drag properly */

.carousel.draggingAuto {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.draggingAuto .card {
    cursor: grab;
    /* stops you from highlight text or images */
    user-select: none;
}

.card .img img {
    border: solid 1px rgb(95, 95, 95);
    width: 340px;
    height: 280px;
    object-fit: cover;
}


/* tablet size makes it 100% width with only 2 of the carousel items showing */

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2));
    }
}

/* Mobile size makes carousel and its container scale to 100% of its width on mobile */

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}